<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /A8J3K9Z5QW/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /A8J3K9Z5QW/index.html [L]
</IfModule>