@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-kumbh;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}